# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/ㅇ
*.swp
*.swo

# Environment
.env
.env.local

# API Keys / Secrets
add_Key.txt
*.key
*.pem
*secret*.txt

# Service Account Keys
*-sa-key.json
credentials.json
