# main.yml (수정 후)

name: Deploy to GCP Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIAL }}'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      # 5-4. Terraform 초기화 (백엔드 설정은 코드로 관리)
      - name: Terraform Init
        working-directory: terraform/gcp
        run: terraform init

      # 5-5. 대기 시간은 필요하다면 유지
      - name: Wait for Image Build to Complete
        run: |
          echo "Waiting for 2 minutes for the Cloud Build to finish..."
          sleep 150

      # 5-6. Terraform 실행 (Apply)
      - name: Terraform Apply with Dynamic Image URL
        working-directory: terraform/gcp
        run: |
          export SHORT_SHA=$(git rev-parse --short HEAD)
          export IMAGE_URL="us-central1-docker.pkg.dev/main-ember-469911-e9/devsecops-project/fake_service:${SHORT_SHA}"
          echo "Deploying with image: ${IMAGE_URL}"
          
          # 불필요한 import 과정이 모두 사라지고 깔끔해짐
          terraform apply -auto-approve -var="image_url=${IMAGE_URL}"